node_modules

dist
coverage

cache
tmp
*.log
*.tgz

.vagrant

packaging/_artifacts

README.md
!/README.md
!/packaging/README.md

LICENSE.md
!/LICENSE.md
CODE-OF-CONDUCT.md
!/CODE-OF-CONDUCT.md
RELEASE_NOTES.md
!/RELEASE_NOTES.md
